.header {
    height: 82px;
    background-color: black;
    display: flex;
    align-items: center;
}


.logo {
    height: 36px;
    width: 370px;
    margin-left: 40px;
    padding-left: 0;
}

.logo__image {
    width: 100%;
}

.input_bar {
    padding: 15px 31px;
}

.nav {
    padding: 15px 30px;
}

.main {
    max-width: 1512px;
}
