.content {
    display: flex;
    max-width: 1380px;
    height: 1702px;
    margin: 95px auto 50px;
}

.item_image {
    width: 50%;
    padding: 36px 45px;
}

.image {
    max-width: 100%;
}

.detail {
    width: 50%;
    padding-left: 65px;
    padding-right: 55px;
}

.item_name {
    font-size: 45px;
    font-weight: bold;
    height: 77px;
    margin: 0;
}

.item_brand {
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 0;
}

.item_price {
    font-size: 45px;
    margin: 0;
}

.item_price::before {
    content: "¥";
    font-size: 30px;
}
.item_price::after {
    content: "（税込）";
    font-size: 30px;
}

.function {
    display: flex;
}

.function_favorite, .function_comment {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.favorite_star, .unfavorite_star {
    border: none;
    background-color: #FFFFFF;
    height: 40px;
    width: 40px;
}

.favorite_star .star_image {
    width: 100%;
    filter: brightness(0) saturate(100%) invert(42%) sepia(49%) saturate(3422%) hue-rotate(334deg) brightness(115%) contrast(101%);

}

.count {
    font-size: 18px;
    font-weight: bold;
    color: #FF5555;
    text-align: center;
}

.star_image {
    width: 100%;
}

.uncount, .count_comment {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.comment_image {
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-bottom: 6px;
}
.to_purchase {
    background-color: #FF5555;
    color: white;
    font-size: 30px;
    margin: 20px 0;
    width: 570px;
    border: #FF5555;
    border-radius: 4px;
}

.item_description {
    font-size: 36px;
    font-weight: bold;
}

.text {
    font-size: 24px;
}

.category_flex {
    display: flex;
    gap: 22px;
}

.info {
    font-size: 24px;
    font-weight: bold;
}

.info_category {
    padding-left: 61px;
    font-size: 20px;
}

.category_tag {
    border: none;
    border-radius: 15px;
    background-color: #D9D9D9;
    min-width: 102px;
    text-align: center;
    padding: 0 16px;
}

.info_condition {
    padding-left: 77px;
    font-size: 20px;
}

.comment_title {
    display: flex;
    align-items: center;
}

.comment {
    font-size: 36px;
    color: #5F5F5F;
    font-weight: bold;
    height: 100px;
    margin: 0;
    padding: 32px 0;
}

.user_comment {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.icon_name {
    display: flex;
    height: 70px;
    margin-bottom: 19px;
}

.user_icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user_name {
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto 20px 18px;
}

.comment_detail {
    background-color: #E5E5E5;
    border-radius: 5px;
    margin: 0 0 41px 0;
    padding: 25px 15px;
    font-size: 20px;
}
.item_comment {
    font-size: 28px;
    font-weight: bold;
}

.comment_content {
    width: 570px;
    height: 246px;
}

.comment_button {
    background-color: #FF5555;
    color: white;
    font-size: 25px;
    margin: 20px 0;
    width: 570px;
    border: #FF5555;
    border-radius: 4px;
}

