.user-profile {
    display: flex;
    height: 305px;
    width: 67%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.name {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin-left: 57px;
}

.set-up-profile {
    font-size: 20px;
    font-weight: bold;
    width: 300px;
    margin-left: 57px;
}

.edit-form {
    width: 30.5%;
    margin-left: 24.5%;
}

.edit-profile {
    border: 2px solid #FF5555;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #FF5555;
    width: 100%;
    min-width: 195px;
    height: 59px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.link {
    display: flex;
    gap: 52px;
    border-bottom: 2px solid #5F5F5F;
}

.sell-item {
    font-size: 24px;
    font-weight: bold;
    color: #FF0000;
    text-decoration: none;
    margin-left: 129px;
    width: 155px;
    padding: 0;
}

.buy-item {
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
    text-decoration: none;
    width: 155px;
    padding: 0;
}

.buy-link {
    font-size: 24px;
    font-weight: bold;
    color: #5F5F5F;
    text-decoration: none;
    margin: 0;
}

.items {
    margin: 75px auto;
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 71px;
}

.item {
    position: relative;
}

.image {
    max-width: 100%;
    height: 100%;
}

.item_name {
    margin-top: 10px;
}

.item_img {
    position: relative;
}

.item-classify {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 60px solid #FF0000;
    transform: rotate(-45deg);
    position: absolute;
    top: -9px;
    left: -39px;
}

.sold {
    color: #FFFFFF;
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    position: absolute;
    top: 42px;
    left: -47px;
    float: left;
}

@media(max-width:1299px) {

    .edit-profile {
        font-size: 20px;
    }
}

@media(max-width:1040px) {
    .items {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
    }

    .name {
        margin-left: 30px;
    }

    .set-up-profile {
        margin-left: 30px;
    }

    .edit-form {
        margin-left: 100px;
    }
}

@media(max-width: 767px) {
    .items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        padding: 0 10px;
    }

    .image {
        width: 100%;
        height: auto;
        display: block;
    }

    .user-profile {
        display: block;
        margin-top: 80px;
    }

    .edit-form {
        margin: 20px 0;
    }

    .icon {
        width: 100px;
        height: 100px;
    }

    .sell-item {
        width: auto;
        margin-left: 40px;
    }

    .buy-item {
        width: auto;
    }
}
